.center-header {
    text-align: center;
    justify-content: center;
}

.gen-dropdown-menu {
    width: 200px;
    text-align: left;
}

.gen-option-dropdown {
    width: fit-content;
    display: inline-flex;
    padding-left: 1%;
}

.gen-text-container {
    width: fit-content;
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 750px;
}

.regerate-button-container {
    text-align: center;
}